<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-3" *ngFor="let infos of clientes">
            <div class="card" style="width: 18rem;">
                <img [src]="infos.url" alt="">
                <div class="card-body">
                    <h5 class="card-title">{{infos.nome}}</h5>
                    <p class="card-text">{{infos.tipo}}</p>

                    <div class="row">
                        <div class="col">
                            <button class="btn btn-danger btn-block mb-3" (click)="excluir(infos.id)">Excluir</button>
                        </div>

                        <div class="row">
                            <div class="col">
                                <button class="btn btn-success" [routerLink]="['/update', infos.id]">Editar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>